{{#each entrys as |entry|}}
<div class="card" data-id="{{entry.id}}">
  {{log entry}}
  <div class="card-header">{{entry.title}} by {{entry.owner.email}}, id is {{entry.id}} </div>
  <div class="card-body">
    <p class="card-text">{{entry.text}}</p>
  </div>
  <div>

    <button type="button" id="edit-id-button" class="btn btn-dark" data-id="{{entry._id}}" user="{{entry.owner._id}}" title="{{entry.title}}" text="{{entry.text}}" data-toggle="modal" data-target="#updateModal" data-whatever="update_entry">EDIT</button>


      <button id="delete-button" class="btn btn-dark" data-id="{{entry.id}}" user={{entry.owner._id}} value="{{entry._id}}" name="entry[id]">Delete Entry</button>

  </div>
  <div class="card-footer">
    <section class="comments">
      {{#each entry.comments as |comment|}}
      <p> {{comment.owner}} says {{comment.text}} id {{comment.id}} </p>
      <button class="btn btn-info" value="edit" id="edit-comment-button">edit</button>
      <button class="btn btn-danger" value="delete" id="delete-comment-button">delete</button>
      <!-- <div class="comment" data-id="{{comment.id}}">
          <p class="comment-text">{{comment.owner.email}} says: {{comment.text}}</p>
      </div>
    </div> -->
      {{/each}}
    </section>
  </div>
  <form id="comment-form" value="{{entry.id}}">
    <textarea name="comment[text]" id="comments" style="width:96%;height:90px;padding:2%;font-size:1.2em;">
    </textarea>
    <div>
      <button class="btn btn-info" value="comment" id="add-comment">comment</button>
    </div>
  </form>
</div>
{{/each}}
